// VARIABLES
@guru-color:#bc3838;

.rounded-corners (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.linear-gradient (@top: #333, @bottom: #111) {
  background:@top;
  background:-moz-linear-gradient(top, @top 0%, @bottom 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, @top), color-stop(100%, @bottom));
}